*
  margin 0
  padding 0
a  
  text-decoration none

ul,li
  list-style none
.time-list li  
  display inline-block
  width 100px
  vertical-align top
  margin-right 60px
  text-align center
  margin-bottom 30px

  .pic
    height 141px
    
    img 
      width 100px
      vertical-align middle

  .title
    font-size 13px
    color #333
    line-height 1.38 
    a 
      color #000

  .btn-link
    color #999
    line-height 1
    margin-top 10px
    display block
    font-size 8px